<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Atomic Broadcast Simulator</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- C3 Styles -->
    <!-- <link href="{{ url_for('static',filename='css/c3.min.css') }}" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='css/simple-sidebar.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .plot {
        width: 350px;
        height: 300px;
    }
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <form class="form" id='settings' action="javascript:runSimulation();" name='settings' method="POST">
            <ul class="sidebar-nav">
                <li>
                    Processors:
                    <input name="n_proc" type="text" class="form-control" value="10" autocomplete="off" required/>
                </li>
                <li>
                    Delta:
                    <input name="delta" id="delta" type="text" class="form-control" value="3" autocomplete="off" required/>
                </li>
                <li>
                    Max failures (f): 
                    <input name="n_failures" id="n_failures" type="text" class="form-control" value="8" autocomplete="off" required/>
                </li>
                <li>
                    Channel failure probability:
                    <input name="chan_prob" id="chan_prob" type="text" class="form-control" value="0.1" autocomplete="off" required/>
                </li>
                <li>
                    Processor failure probability:
                    <input name="proc_prob" id="proc_prob" type="text" class="form-control" value="0.2" autocomplete="off" required/>
                </li>
                <li>
                    <button name="submit" id="run" type="submit" class="btn btn-primary">Run Simulator</button>
                </li>
            </ul>
            </form>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Atomic Broadcast Simulator </h1>
                        <p>Below is the output provided by the simulation run with the parameters to the left. Adjust the parameters to test various scenarios.</p>
                        <span class="label label-warning" id='running' style='display:none;'>Running...</span>
                        <div class="row">
                            <div class="col-md-4">
                                <div id='termination_dist' class="plot"></div>
                            </div>
                            <div class="col-md-4">
                                <div id='proc_dist' class="plot"></div>
                            </div>
                            <div class="col-md-4">
                                <div id='ch_dist' class="plot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- D3 -->
    <!-- <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script> -->

    <!-- C3 -->
    <!-- <script src="{{ url_for('static', filename='js/c3.min.js') }}"></script> -->

    <script src="{{ url_for('static', filename='js/plotly.min.js') }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    var time_dist_layout = {
        yaxis: {title: 'Count'},
        xaxis: {title: 'Time to termination'},
        bargap: 0.25
    }
    var ch_dist_layout = {
        yaxis: {title: 'Count'},
        xaxis: {title: 'Channel Errors'},
        bargap: 0.25
    }
    var proc_dist_layout = {
        yaxis: {title: 'Count'},
        xaxis: {title: 'Processor Errors'},
        bargap: 0.25
    }

    var time_dist = document.getElementById('termination_dist');
    var time_dist_data = [];
    var ch_dist = document.getElementById('ch_dist');
    var ch_dist_data = [];
    var proc_dist = document.getElementById('proc_dist');
    var proc_dist_data = [];
    function updateCharts(x) {
        // execution time
        time_dist_data = time_dist_data.concat(x.term_time);
        var data = [{
            x: time_dist_data,
            type: 'histogram',
            marker: {color: 'grey' }
        }];
        Plotly.newPlot(time_dist, data, time_dist_layout);
        // channel errors
        ch_dist_data = ch_dist_data.concat(x.n_failed_ch);
        data = [{
            x: ch_dist_data,
            type: 'histogram',
            marker: {color: 'grey' }
        }];
        Plotly.newPlot(ch_dist, data, ch_dist_layout);
        // proc errors
        proc_dist_data = proc_dist_data.concat(x.n_failed_proc);
        data = [{
            x: proc_dist_data,
            type: 'histogram',
            marker: {color: 'grey' }
        }];
        Plotly.newPlot(proc_dist, data, proc_dist_layout);
    }

    n_samples = 10;
    n_results = 0;
    function runSimulation(){
        $('#running').show(true);
        n_results = 0;
        time_dist_data = [];
        for (i=1; i<=n_samples; i++){
            $.ajax({
                type: "POST",
                url:  "{{ url_for('run_simulation', n=40) }}",
                data: $('#settings').serialize(), //JSON.stringify($(this).serializeArray()),
                success: function(x){
                    n_results++;
                    updateCharts(x);
                    if (n_results==n_samples) {
                        $('#running').hide(true);
                    }
                },
                dataType: "json"
            });
        }
    }
    runSimulation();
    </script>

</body>

</html>
